@font-face {
  font-family: 'pacifico';
  src: url('./media/Pacifico-Regular.ttf');
  font-style: normal;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'pacifico', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#22c1c3, #fdbb2d);
}



